
@{
    ViewBag.Title = "Home Page";
}
<form method="post"  enctype="multipart/form-data">
	<div class="row" style="margin-top:50px">
		<input type="file" id="files" name="files" />
		<input type="submit" value="Upload" />
	</div>
</form>